body{background-image: url(festejo.gif);}

.titular{
    text-decoration: underline;
    color: green;}


    
div h3{ color: goldenrod;
text-decoration: underline;
text-align: center;}



div h2 { 
color: green;
text-decoration: underline;
text-align: center;


}