body{
    background-image:url(CONFETI.gif);}

    div h1 { text-align: center;}
    span{color:green;}
    div h2 { color: goldenrod;
    text-align: center;}
    div p{ 
        text-align: center;
    
       
    }